.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #2b6777(darkTeal) #c8d8e4(lighter teal) #ffffff(white) #f2f2f2(off White) #52ab98(green) */

.intro {
  background-color:#2b6777 ;
  padding: 20px 20px 20px 20px;
  text-align: center;

}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  color: #f2f2f2;
  font-size: 50px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 40px;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #52ab98;
  font-size: 40px;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

li {
  list-style-type: none;

}
.taskEntry form input, select, textarea{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}

.taskEntry h3 {
  text-align: center;
}

.taskEntry {

  background-color: #c8d8e4;
  padding-top: 50px;
  padding-bottom: 2000px;
}

.links {
  text-align: center;
}

.buttonLink {
  background-color: #52ab98;
  padding: 40px 40px 40px 40px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
}

.taskForm {
  display: flex;
  justify-content: center;
  
  
  
}
.taskHeader {
  display: flex;
}
.taskHeader h5{
  padding-left: 20px;
  padding-right: 20px;

}

.taskFeed {
  display: flex;
  
}
.taskFeed p {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  
}

.entrySubmit {
  font-size: 35px;
  background-color:#c8d8e4 ;
}

.taskHolder {
  background-color: #c8d8e4;
  padding-top: 50px;
  padding-bottom: 2000px;
  text-align: center;
}